<div class="container">
  <mat-card appearance="outlined" class="card-layout">

    <mat-card-header>
      <mat-card-title *ngIf="sessionInfo.isSessionCreated()"> User id: {{ sessionInfo.getUserId() }}</mat-card-title>
    </mat-card-header>

    <mat-card-header>
      <mat-card-title *ngIf="!sessionInfo.isSessionCreated()"> Select user
        <ul>
          <li *ngFor="let user of users">
            <button mat-raised-button (click)="selectUser(user)"> {{ user }}</button>
          </li>
        </ul>

      </mat-card-title>
    </mat-card-header>

    <div *ngIf="sessionInfo.isSessionCreated()">
      <mat-card-content>
          <button mat-raised-button color="primary" (click)="addContact()">Add contact</button>
          <pre> </pre>
      </mat-card-content>

      <mat-card-content>
        <mat-card-title>Contacts</mat-card-title>
        <ul>
          <li *ngFor="let contact of sessionInfo.getContacts()">
            {{ contact }}
            <button mat-raised-button color="primary" (click)="startChat(contact)"> Start chat</button>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title>Chats</mat-card-title>
        <ul>
          <li *ngFor="let chat of sessionInfo.getChats()">
            <button mat-raised-button color="primary" (click)="selectChat(chat.chatId)">
              chat with {{ chat.userId }}
              <span *ngIf="chat.pendingNotifications > 0" style="color:red"> ({{ chat.pendingNotifications }}) </span>
            </button>
          </li>
        </ul>
      </mat-card-content>


      <div *ngIf="openChat.isActive()">
        <ul>
          <li *ngFor="let message of openChat.chatInfo.messages">
            {{ message.sender }}: {{ message.content }}
          </li>
        </ul>

        <textarea matInput [(ngModel)]="messageContent" placeholder="Message"
          (keyup.enter)="sendMessage()" ></textarea>

        <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
        <button mat-raised-button color="primary" (click)="closeChat()">Close</button>
      </div>




    </div>
  </mat-card>
</div>
